<div class="container">
  <h1>Event Listener Task</h1>
  <!-- <button (click)="selectFile()">Select Excel File</button> -->
  <Button (click)="refresh()" style="margin-left: 40px">Refresh</Button>
  <br />
  <span style="color: blueviolet; font-size: 100px">{{ rand1 }}</span>
  <br />
  <span style="color: blueviolet; font-size: 100px">{{ sign }}</span>
  <br />
  <span style="color: blueviolet; font-size: 100px">{{ rand2 }}</span>
  <br />
  <span style="color: blueviolet; font-size: 100px">=</span>
  <br />
  <span style="color: blueviolet; font-size: 100px">{{ result }}</span>
</div>
